body {
    background-color: white;
}

.container td{
	margin:0px;padding:20px;
	text-align: center;
}

.ShutterTime {
	margin:0px;padding:10px;
	width:100%;
	text-align: left;

	box-shadow: 10px 10px 5px #888888;
	border:1px solid #000000;
	
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
	
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
	
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
	
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}.ShutterTime table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}
.ShutterTime tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}
.ShutterTime table tr:first-child td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
.ShutterTime table tr:first-child td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}
.ShutterTime tr:last-child td:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}

.ShutterTime td{
	vertical-align:middle;
	background-color:#ffffff;
	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:4px;
	font-size:14px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}

.ShutterTime tr:last-child td{
	border-width:0px 1px 0px 0px;
}

.ShutterTime tr td:last-child{
	border-width:0px 0px 1px 0px;
}
.ShutterTime tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.ShutterTime tr:first-child td{
	background-color:#ff5656;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 0px 0px;
	font-size:16px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
}

.ShutterTime tr:first-child td:first-child{
	border-width:0px 0px 0px 0px;
}
.ShutterTime tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}
