<HTML>
<HEAD>
<TITLE>CronoStamper Main Page</TITLE>
 


<script type="text/javascript" src= "{{ url_for('static',filename='jquery-2.2.0.min.js') }}"></script>
<link rel="stylesheet" href= "{{ url_for('static',filename='style.css') }}" type="text/css"/>	
<script type="text/javascript" src="{{ url_for('static',filename='jquery.jqplot.min.js') }}"</script>
<script type="text/javascript" src="{{ url_for('static',filename='jqplot.dateAxisRenderer.min.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static',filename='jquery.jqplot.min.css') }}" type="text/css" />
<script>
var image='{{ pic }}'
var plot1;
var plot2;
var plot_gps;
var options;
var t = 1000;
var x = (new Date()).getTime(); // current time
var n = 60;

var primera=true;
data_pllOffset = []
data_ClkError = []
data_gps = []

function renorm(darray) {
var x0=0;
var y0=0;
var e=0;
for(var i = 0; i < darray.length; i ++)
{
  x0 = x0 + darray[i][0];
  y0 = y0 + darray[i][1];  
  e=e+1;
}
x0=x0/e;
y0=y0/e;
var newdarray =  darray.map(function(value,index) { return [value[0]-x0,value[1]-y0]; });
return newdarray;    
}

function updateShutter() {
 $.ajax({
    // the URL for the request
    url: "/shutter.json",
 
    // the data to send (will be converted to a query string)
    data: {

    },
	 
    // whether this is a POST or GET request
    type: "GET",
 
    // the type of data we expect back
    dataType : "json",
 
    // code to run if the request succeeds;
    // the response is passed to the function
    success: function( data ) {	
	$('#DATE').text(data.dateUTC);
	$('#UNIXTIME').text(data.unixUTC);
	$('#MJD').text(data.MJD);
    },
 
    // code to run if the request fails; the raw request and
    // status codes are passed to the function
    error: function( xhr, status ) {
        //alert( "Sorry, there was a problem!" );
    },
 
    // code to run regardless of success or failure
    complete: function( xhr, status ) {
 
    }
    });

    };

function updateGPS() {
 $.ajax({
    // the URL for the request
    url: "/gps.json",
 
    // the data to send (will be converted to a query string)
    data: {

    },
	 
    // whether this is a POST or GET request
    type: "GET",
 
    // the type of data we expect back
    dataType : "json",
 
    // code to run if the request succeeds;
    // the response is passed to the function
    success: function( data ) {	

	$('#MODE').text(data.mode);
	$('#NSATS').text(data.nsat);
	$('#LATITUD').text(data.lat);
	$('#LONGITUD').text(data.lon);
	$('#ALTITUDE').text(data.alt);
	$('#EPX').text(data.epx);
	$('#EPY').text(data.epy);
	$('#EPV').text(data.epv);
	$('#EPT').text(data.ept);
	$('#PLLOFFSET').text(data.pllOffset);
	$('#PPM').text(data.ppm);
	$('#CLKERROR').text(data.ClkError);
	$('#CLKMAXERROR').text(data.ClkMaxError);

     var R=6371000;
     var x = (new Date()).getTime();

	if (primera==true) {
	   for(i=0; i<n; i++){  
	      	if(data_pllOffset.length > n-1){
	        	data_pllOffset.shift();
	      	}
	      	if(data_ClkError.length > n-1){
		         data_ClkError.shift();
	      	}
	      	if(data_gps.length > n-1){
		         data_gps.shift();
	      	}
	      	data_pllOffset.push([x - (n-1-i)*t,data.ClkError]);  
	      	data_ClkError.push([x - (n-1-i)*t,data.pllOffset]);  
	        var xinit = Number(data.lat)*Math.PI/180.*R;
		var yinit = Number(data.lon)*Math.PI/180.*R*Math.cos(Number(data.lat)*Math.PI/180.);
                data_gps.push([yinit,xinit]); 
	   }   
        }
      

      if(data_pllOffset.length > n-1){
         data_pllOffset.shift();
      }
      if(data_ClkError.length > n-1){
         data_ClkError.shift();
      }
      if(data_gps.length > n-1){
         data_gps.shift();
      }


      var y = Number(data.ClkError)*1000000;
      data_pllOffset.push([x,y]);
      if (plot1) {
    	plot1.destroy();
      }
      options.title='CLOCK:  Quality (wait until < 100)'
      plot1.series[0].data = data_pllOffset; 
      options.axes.xaxis.min = data_pllOffset[0][0];
      options.axes.xaxis.max = data_pllOffset[data_pllOffset.length-1][0];
      var yy =  data_pllOffset.map(function(value,index) { return value[1]; });
      var ymin=Math.min.apply(null,yy);
      var ymax=Math.max.apply(null,yy);
      margen=(ymax-ymin)/10.;
      if (margen==0) {
		margen=ymax/10;
      }	
      media=(ymax+ymin)/2;
      options.axes.yaxis.min = ymin-margen;
      options.axes.yaxis.max = ymax+margen;

      plot1 = $.jqplot ('pllOffset', [data_pllOffset],options);

      var y = Number(data.pllOffset)*1000;
      data_ClkError.push([x,y]);
      if (plot2) {
    	plot2.destroy();
      }
      options.title='CLOCK: offset from UTC (microseconds)'
      plot2.series[0].data = data_ClkError; 
      options.axes.xaxis.min = data_ClkError[0][0];
      options.axes.xaxis.max = data_ClkError[data_ClkError.length-1][0];
      var yy =  data_ClkError.map(function(value,index) { return value[1]; });
      var ymin=Math.min.apply(null,yy);
      var ymax=Math.max.apply(null,yy);
      margen=(ymax-ymin)/10.;
      if (margen==0) {
		margen=ymax/10;
      }	
      media=(ymax+ymin)/2;
      options.axes.yaxis.min = ymin-margen;
      options.axes.yaxis.max = ymax+margen;

      plot2 = $.jqplot ('ClkError', [data_ClkError],options);


      var x = Number(data.lat)*Math.PI/180.*R;
      var y = Number(data.lon)*Math.PI/180.*R*Math.cos(Number(data.lat)*Math.PI/180.);
      data_gps.push([y,x]);
      if (plot_gps) {
    	plot_gps.destroy();
      }
      var data_gps0=renorm(data_gps)
      GPSoptions.title='GPS: horizontal error (m)'
      plot_gps.series[0].data = data_gps0; 
      var xx =  data_gps0.map(function(value,index) { return value[0]; });
      var xmin=Math.min.apply(null,xx);
      var xmax=Math.max.apply(null,xx);
      margen=(xmax-xmin)/10.;
      if (margen==0) {
		margen=margen/10;
      }	


      var yy =  data_gps0.map(function(value,index) { return value[1]; });
      var ymin=Math.min.apply(null,yy);
      var ymax=Math.max.apply(null,yy);
      margen=(ymax-ymin)/10.;
      if (margen==0) {
		margen=ymax/10;
      }	
      //lon_media=median(xx);
      //lat_media=median(yy);

      GPSoptions.axes.xaxis.min = xmin-margen;
      GPSoptions.axes.xaxis.max = xmax+margen;

      GPSoptions.axes.yaxis.min = ymin-margen;
      GPSoptions.axes.yaxis.max = ymax+margen;

      if (((ymax-ymin)<= 6) && ((xmax-xmin)<= 6) ) {
	col='#00FF00';
      } else if (((ymax-ymin)<= 12) && ((xmax-xmin)<= 12) ) {
	col='#0000FF';
      } else {
	col='#FF0000';
      }

      GPSoptions.seriesDefaults.color=col;

      plot_gps = $.jqplot ('GPS', [data_gps0],GPSoptions);
      primera=false;

    },
 
    // code to run if the request fails; the raw request and
    // status codes are passed to the function
    error: function( xhr, status ) {
        //alert( "Sorry, there was a problem!" );
    },
 
    // code to run regardless of success or failure
    complete: function( xhr, status ) {
 
    }
    });

    };

function updater() {
			updateShutter();
			updateGPS();
                   };

$(document).ready(function() {
      $('camera').attr("src", './static/'+image)
      var x = (new Date()).getTime();
	   for(i=0; i<n; i++){  
	      data_pllOffset.push([x - (n-1-i)*t,0]);  
	      data_ClkError.push([x - (n-1-i)*t,0]);  
	      data_gps.push([null,null]); 
	   }    


   options = {      
      title: 'UTC offset (ms)',
      axes: {   	    
         xaxis: {   	   	   
            numberTicks: 4,            
            renderer:$.jqplot.DateAxisRenderer,           
            tickOptions:{formatString:'%H:%M:%S'},            
            min : data_pllOffset[0][0],           
            max: data_pllOffset[data_pllOffset.length-1][0] 	   
         }, 	    
         yaxis: {
            min:0, 
            max: 1,
            numberTicks: 6,   	        
            tickOptions:{formatString:'%.1f'}  	    
         }      
      },      
      seriesDefaults: {   
         markerOptions: { size: 3, style:"." },		    
         rendererOptions: { smooth: true}      
      }  
   };  

   GPSoptions = {      
      title: 'GPS: polar lat/log',
      axes: {   	    
         xaxis: {   
            min:30, 
            max: 50,	   	   
            numberTicks: 4           
         }, 	    
         yaxis: {
            min:-3, 
            max: -5,
            numberTicks: 4,   	        
    
         }      
      },      
      seriesDefaults: {  
	 color:'#ff0000',
         showLine:false, 
         markerOptions: { size: 1, style:"+" }	    
      }  
   }; 
 
   plot1 = $.jqplot ('pllOffset', [data_pllOffset],options); 
   plot2 = $.jqplot ('ClkError', [data_ClkError],options);    
   plot_gps = $.jqplot ('GPS', [data_gps],GPSoptions); 

   setInterval(updater, 1000);
});
</script>
 
</HEAD>
<BODY>
    <div align="center">
        <p>
           <a href='https://github.com/nachoplus/cronoStamper'>cronoStamper</a> by N+
        </p>
	<h1>{{ name }}</h1>
    </div>

<table>
<tr>
<td>
<img id='camera'></img>
</td>
<td>
<table align='center' class='ShutterTime'>
<tr><td colspan="2">
LAST SHUTTER TIME
</td>
<tr><td >DATE</td><td>
    <div id="DATE" align="left"></div>
</td></tr>
<tr><td>UNIX TIME</td><td>
    <div id="UNIXTIME" align="left"></div>
</td></tr>
<tr><td>MJD</td><td>
    <div id="MJD" align="left"></div>
</td></tr>
</table>
</td>
<td>
<table align='center' class='ShutterTime'>
<tr><td colspan="2">
UTC CLOCK VALUES
</td>
<tr><td >Clock offset from UTC (milliseconds, estimated)</td><td>
    <div id="PLLOFFSET" align="left"></div>
</td></tr>
<tr><td >Frequency Correction (ppm==microsecond/s)</td><td>
    <div id="PPM" align="left"></div>
</td></tr>
<tr><td>Clock Estimated Error (milliseconds)</td><td>
    <div id="CLKERROR" align="left"></div>
</td></tr>
<tr><td>Clock Max Error (milliseconds)</td><td>
    <div id="CLKMAXERROR" align="left"></div>
</td></tr>
</table>
</td></tr>
</table>

</table>
<table class='graphs'>
<tr>
<td>
<div id="pllOffset" style="height:300px; width:500px;"></div>
</td>
<td>
<div id="GPS" style="height:300px; width:500px;"></div>
</td>
<td>
<div id="ClkError" style="height:300px; width:500px;"></div>
</td>
</tr>
</table>




<table align='center' class='ShutterTime'>
<tr><td colspan="2">
GPS VALUES
</td>
<tr><td>MODE (0=INIT, 1=NO FIX, 2= 2D FIX, 3 = 3D FIX) must be 3D</td><td>
    <div id="MODE" align="left"></div>
</td></tr>
<tr><td>Satellites (Used/Total)</td><td>
    <div id="NSATS" align="left"></div>
</td></tr>
<tr><td>LATITUD</td><td>
    <div id="LATITUD" align="left"></div>
</td></tr>
<tr><td>LONGITUD</td><td>
    <div id="LONGITUD" align="left"></div>
</td></tr>
<tr><td>ALTITUDE</td><td>
    <div id="ALTITUDE" align="left"></div>
</td></tr>
<tr><td >X Error (m) 95% Confidence</td><td>
    <div id="EPX" align="left"></div>
</td></tr>
<tr><td >Y Error (m) 95% Confidence</td><td>
    <div id="EPY" align="left"></div>
</td></tr>
<tr><td >Vertical Error (m) 95% Confidence</td><td>
    <div id="EPV" align="left"></div>
</td></tr>
<tr><td >Time Error (microseconds) 95% Confidence</td><td>
    <div id="EPT" align="left"></div>
</td></tr>
</table>





</BODY>
</HTML>
