<HTML>
<HEAD>
<TITLE>CronoStamper Main Page</TITLE>
</HEAD>
<BODY>
    <div align="center">
        <p>
           <a href='https://github.com/nachoplus/cronoStamper'>cronoStamper</a> by N+
        <hr>
	<h1 >HELP</h1>
        <hr>
    </div>
<h2>Introduction</h2>
CronoStamper is a raspberry aplication aim to get precise timestamping (microseconds) of events (pin state changes). 
<h2>TCP Ports</h2>
    <li>Shutter port = {{ ports.shutterPort }}<p>
    <li>Trigger port = {{ ports.triggerPort }}<p>
    <li>Ping Time port = {{ ports.pingPort }}<p></p>
<h2>ZMQ Ports</h2>    
    <li>Shutter port = {{ ports.zmqShutterPort }}<p>
    <li>GPS port = {{ ports.zmqGPSPort }}<p>
    <li>Trigger port = {{ ports.zmqTriggerPort }}<p>
</BODY>
</HTML>
